version: '3.8'

services:
  service_foundation:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: service_foundation
    restart: always
    environment:
      # running environment
      RUN_ENV: prod
      # django settings
#      DJANGO_SETTINGS_MODULE: service_foundation.settings
      DEBUG: "False"
      # application configuration
      HOST: 0.0.0.0
      PORT: 8000
      ALLOWED_HOSTS: "*"
      # logging
      LOG_LEVEL: INFO
      LOG_DIR: /var/log/service_foundation
    ports:
      - "8000:8000"
    volumes:
      - ./docker/log:/var/log/service_foundation
      - ./docker/.env.prod:/app/.env.prod:ro
    networks:
      - infrastructure_infrastructure

networks:
  infrastructure_infrastructure:
    external: true
